body {
    margin:auto ;
    width: auto ;
    font-family:  "sans-serif";
    background-color:aliceblue;
}
h3{
    background-color:aqua;
    Font-size: 20px;
     accent-color: black;
     align-content: center;
}
h3.li {
    color:blue;
    align-content: center;

}
div {
    background-color: rgb(206, 241, 230);
    background-position-x: center;
}
.background-style {
    background-color: aquamarine;
}
#workplace-name-color {
    color:blue
}
.company{
    color:blue
}

